<div class="row mt-2 w-100">
  <div class="col-7 d-flex flex-wrap align-items-start">
    @for (localization of localizations; track localization.id) {
      <button
        type="button"
        class="btn btn-list"
        [class.active]="selectedLocalization.name === localization.name"
        (click)="selectLocalization(localization);">
        {{localization.name}}
      </button>
    }
  </div>

  <div class="col-5 d-flex justify-content-end align-items-start">
    <div class="float-end m-1">
      @if (selectedLocalization.id) {
        <button
          type="button"
          class="btn btn-action"
          (click)="editOrCreateLocalization(true)">
          {{'collections.localizations.editLocalization' | translate}}
        </button>
      }
      <button
        type="button"
        class="btn btn-action ms-1"
        (click)="editOrCreateLocalization(false)">
        {{'collections.localizations.addLocalization' | translate}}
      </button>
    </div>
  </div>
</div>
