<div class="modal-content rounded-3 shadow">
  <div class="modal-header">
    <h5 class="modal-title" id="locationModalLabel">
      {{title | translate}}
    </h5>

    <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'collections.localizations.cancel' | translate"
      (click)="close()">
    </button>
  </div>

  <form>
    <div class="modal-body">
      <div class="mb-3">
        <label for="name" class="form-label">{{'collections.localizations.modal.name' | translate}}</label>
        <input
          id="name"
          type="text"
          class="form-control"
          name="name"
          [(ngModel)]="localization.name">
      </div>
    </div>

    <div class="modal-footer">
      @if (localization.name !== "") {
        <button type="button" class="btn btn-delete" (click)="delete()">{{'collections.localizations.modal.remove' | translate}}</button>
      }
      <button type="button" class="btn btn-secondary" (click)="close()">{{'collections.localizations.modal.cancel' | translate}}</button>
      <button type="submit" class="btn btn-action" (click)="save()">{{'collections.localizations.modal.save' | translate}}</button>
    </div>
  </form>
</div>
