<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{title | translate}}</h5>
    <button
      type="button"
      class="btn-close"
      [attr.aria-label]="'collections.plants.details.updateField.cancel' | translate"
      (click)="close()">
    </button>
  </div>

  <div class="modal-body">
    @if (typeData == "text") {
      <input type="text" class="form-control" [(ngModel)]="updateField.fieldValue">
    } @else if (typeData == "checkbox"){
      <input type="checkbox" class="form-check-input" [(ngModel)]="updateField.fieldValue">
      {{`collections.plants.details.${updateField.fieldValue}` | translate}}
    } @else if (typeData == "date"){
      <input type="date" class="form-control" [(ngModel)]="updateField.fieldValue">
    } @else if (typeData == "select") {
      <select type="text" class="form-select" [(ngModel)]="updateField.fieldValue">
        @for (option of options; track option) {
          <option [value]="option">{{`collections.plants.details.${updateField.fieldName}Values.${option}` | translate}}</option>
        }
      </select>
    } @else if (typeData == "textarea") {
      <textarea
        [(ngModel)]="updateField.fieldValue"
        rows="4">
      </textarea>
    }
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">{{"collections.plants.details.updateField.close" | translate}}</button>
    <button type="button" class="btn btn-action" (click)="save()">{{saveText | translate}}</button>
  </div>
</div>
